<div class="container">
  <div class="row" style="padding-bottom: 1px; margin-bottom: 0px;">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-5">
      <div class="panel panel-primary" style="padding-bottom: 0px; margin-bottom: 0px;">
        <div class="panel-heading" (click)="clickForm()">
          Formulář
        </div>
        <div class="panel-body" [hidden]="showCode">
          <qr-form headless="true">Načítám ...</qr-form>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
  </div>
  <div class="row" style="padding-top: 0px; margin-top: 0px;">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-5">
      <div class="panel panel-primary">
        <div class="panel-heading" (click)="clickCode()">
          Kód Platby
        </div>
        <div class="panel-body" [hidden]="!showCode">
          <qr-display qrdim="200">Načítám ...</qr-display>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>&nbsp;</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-body">
          <ul class="nav nav-pills nav-justified">
            <li role="presentation">
              <a routerLink="/side-by-side" routerLinkActive="active">Side by side</a>
            </li>
            <li role="presentation">
              <a routerLink="/swap" routerLinkActive="active">Swap</a>
            </li>
            <li role="presentation">
              <a routerLink="/dialog" routerLinkActive="active">Dialog</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
</div>
