<!--h1 md-dialog-title>Sonkal Platba - QR Kód Generátor</h1-->
<md-card>
  <md-card-content>
    <div md-dialog-content class="panel" style="min-width: 660px; min-height: 464px;">
      <div class="row">
        <div class="col-sm-7">
          <qr-form latinise="true">Načítám ...</qr-form>
        </div>
        <div class="col-sm-5">
          <qr-display qrdim="200">Načítám ...</qr-display>
        </div>
      </div>
    </div>
    <!--div md-dialog-actions>
      <button md-button (click)="dialogRef.close('Option 1')">Option 1</button>
      <button md-button (click)="dialogRef.close('Option 2')">Option 2</button>
    </div-->
  </md-card-content>
</md-card>
