<div>
  <div class="container">
    <div class="col-md-12" style="margin: 0 auto; text-align: right;">
      <a href="http://sonkal.cz/index.php">
        <img alt="img" style="display: block; margin: 0 auto;" src="http://sonkal.cz/design/banner_web.png">
      </a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <qr-form>Načítám ...</qr-form>
    </div>
    <div class="col-md-6" style="visibility: hidden;">
      <qr-display qrdim="300">Načítám ...</qr-display>
    </div>
  </div>
</div>
