<div>
  <div class="container">
    <div class="col-sm-12" style="margin: 0 auto; text-align: right;">
      <a href="http://sonkal.cz/index.php">
        <img alt="img" style="display: block; margin: 0 auto;" src="http://sonkal.cz/design/banner_web.png">
      </a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-5">
      <div class="panel">
        <qr-form latinise="true">Načítám ...</qr-form>
      </div>
    </div>
    <div class="col-sm-3">
      <qr-display qrdim="200">Načítám ...</qr-display>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-body">
          <ul class="nav nav-pills nav-justified">
            <li role="presentation">
              <a routerLink="/side-by-side" routerLinkActive="active">Side by side</a>
            </li>
            <li role="presentation">
              <a routerLink="/swap" routerLinkActive="active">Swap</a>
            </li>
            <li role="presentation">
              <a routerLink="/dialog" routerLinkActive="active">Dialog</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
</div>
