<div class="container">
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2>Různé alternativy</h2>
        </div>
        <div class="panel-body">
          <ul class="nav nav-pills nav-justified">
            <li role="presentation">
              <a routerLink="/side-by-side" routerLinkActive="active">Side by side</a>
            </li>
            <li role="presentation">
              <a routerLink="/swap" routerLinkActive="active">Swap</a>
            </li>
            <li role="presentation">
              <a routerLink="/dialog" routerLinkActive="active">Dialog</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
</div>
